<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5LWOi2wv_rEWXviskgorrdTncVmwoDqY&libraries=places"></script>
<script type="text/javascript" src="../JS/Map.js	"></script>

<style>
/* .row {
	border: 1px solid black;
}
 */
#map {
	height: 590px;
	border: 1px solid black;
}

#rightPanel {
	height: 590px;
	float: right;
	overflow: auto;
}
</style>
</head>
<body>

	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<input type="text" id="source" placeholder="Source">
			</div>
			<div class="col-sm-2">
				<input type="text" id="destination" placeholder="Destination">
			</div>
			<div class="col-sm-4">

				<div class="row">
					<div class="col-sm-2">
						<button id="search_button" class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-search"></span> Search
						</button>
					</div>
					<div class="col-sm-2 dropdown">
						<button class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ><button id="getCurrentLoc" class="btn btn-info btn-sm">get current location</button></li>
							<li class="divider"></li>
							<li ><button id="currentLocInSource" class="btn btn-info btn-sm">current location in source</button></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<br>

		<div class="row">
			<div class="col-sm-9" id="map"></div>
			<div class="col-sm-3" id="rightPanel"></div>
		</div>
	</div>

</body>
</html>
